<% @products.facets.keys.each do |facet| %>
  <% next if facet == 'prices' %>
  <h2><%=facet.gsub('taxons.','')%></h2>
  <ul class="categories">
    <% for val in @products.facets[facet] %>
    <%
      name = val[0]
      results = val[1]
    %>
    <li><%=link_to "#{name} (#{results})", "#{request.fullpath}/#{facet.gsub('taxons.','')}:#{name}", title: "#{name} products" %></li>
    <% end %>
  </ul>

<% end %>
