<% unless @taxon && @taxon.brand? %>
    <h2 class="filter">
        <a data-target="00" class="toggle_filter" title="Brands" href="#">Brands<span></span></a>
    </h2>
    <%= brands_nav_filters(@brands) %>
<% end %>